/* *** navigator_finder_simple.css *** */

.navigator_finder_simple {
	border: 1px gray solid;

	> .main {
		> section {
			> .toolBar {
				display: flex;
				padding: 5px;
				border: gray solid;
				border-width: 0 0 1px 0;

				> input[type="text"] {
					padding: 5px;
				}

				> button {
					margin-left: 5px;
					padding: 5px;
					cursor: pointer;
				}

				> button.select {
					border: 2px black solid;
				}
			}

			> .parentItems {
				display: grid;
				grid-template-columns: 1fr 4rem;
				padding: 5px;
				border: gray solid;
				border-width: 0 0 1px 0;

				> ol {
					display: flex;
					list-style: none;
					margin: 0;

					> li {
						margin-right: 5px;
						padding: 5px;
						border: 1px gray solid;
						cursor: pointer;
					}

					> li::before {
						content: "▷";
						margin: 0 5px 0 0;
					}
				}
			}

			> .items {
				table {
					width: 100%;
				}

				th {
					padding: 5px;
					text-align: left;
				}

				td {
					border: gray solid;
					border-width: 1px 0 0 0;
				}

				.hit {
					color: red;
				}
			}
		}
	}

	> .statusBar {
		padding: 5px;
		border: gray solid;
		border-width: 1px 0 0 0;
	}
}
